body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    background-color: #dbfe01;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title, .text, .button {
    margin: 0 10px;
}

.button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Цвет кнопки */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049; /* Цвет кнопки при наведении */
}
