

.b{
    height: 100px;
    background-color: #dbfe01;
    align-items: center;
    display: flex;
    font-family: Montserrat;
    font-size: ;
 }
 .ygh{
   width: 100px;
   height: 100px;
   background-image: url("Vector.svg");
   background-size: cover;
   background-position: center;
   margin-right: 300px;
   margin-bottom: 70px;
   margin-left: 10px;
   padding-top: -20px;
}
.title{
   padding-right: 100px;
   width: 1000px;
   margin-left: 100px;
   margin-right: 20px;
   font-family: Montserrat;
   font-weight: 700;
}
 .text{
   font-family: Montserrat;
 }
.button{
   background-color: #000;
   border-radius: 5px;
   border: solid #fff 3px;
   padding: 10px 20px 10px 20px;
   margin-left: 50px;
   color: white;  
   font-family: Montserrat;
   margin-right: 100px;
   padding-left: 10px;
   padding-right: 5px;
}