.mark{
    background-color:rgb(227, 235, 0);
    font-size: 26px;
}

.h {
    font-size: 26px;
    text-align: center;
}
.img{
    background-image: url("mdi_instagram.svg");
    width: 33px;
    height: 33px;
    margin-top: 20px;
    background-size: contain;
}

.img2{
    background-image: url("iconoir_tiktok.svg");
    width: 33px;
    height: 33px;
    margin-top: 20px;
    background-size: contain;
}

.img3{
    background-image: url("Vector.svg");
    width: 33px;
    height: 33px;
    margin-top: 20px;
    background-size: contain;
}

.box1 {
    display: flex;
    /* justify-content: space-between; */
}

.box{
    width: 753px;
    height: 510px;
    margin-left: 50%;
    border: 3px solid #000;
    border-radius: 50px;
    /* padding-left:59px; */
    position: right;
    background-color: white;
}

.box2{
    width: 200px;
   height: 59px;
   display: flex;
 }

 .fon{
   width:100%;
   height:100%;
   background-color: #F9FFD1;
 }

 hr{
    width: 700px;
    border: 2px solid black;
 }

 h3{
    padding-top:20px;
    padding-left:25px;
 }

 button{
    width: 382px;
    height: 82px;
    padding: 50px;;
 }

 input{
    width: 382px;
    height: 82px;
    margin-top: 70px;
    margin-left: 190px;
    margin-right: 50px;
    margin-bottom: 50px;
    background-color:black;
    position:center;
    border: 2px greenyellow;
 }

 h2{
    display: flex;
    /* justify-content:space-evenly; */
 }

 .box3{
   display: flex;
 }

 .text {
    display: flex;
    justify-content: space-between;
 }